WebTools/Properties/PublishProfiles/Localhost.pubxml
WebTools/Properties/PublishProfiles/Localhost.pubxml.user
bin/
build/
WebTools/bin/
WebTools/dist/trek.js
WebTools/dist/trek.js.LICENSE.txt
WebTools/src/**/*.js
/.vs/WebTools-StarTrek
/packages
/WebTools/node_modules
/WebTools/obj/Debug
/WebTools/obj/Release
.DS_Store
.vscode/
.env
