$lcars-salmon: #CC6666;
$lcars-purple: #906F9A;
$lcars-brighter-purple: #9179B7;
$lcars-orange: #F89B24;
$lcars-pink: orchid;
$lcars-dull-purple: #B5B3D8; // used for buttons
$lcars-light-orange: #FFCC66;
$lcars-light-pink: #DE84B7;
$lcars-dull-pink: #c37ba4;
$lcars-very-light-pink: #f7bbdd;

$primary: $lcars-purple;

@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

@import '~bootstrap-icons/font/bootstrap-icons.scss';

$breadcrumb-bg: #130e1a;
$breadcrumb-border-radius: 1rem;
$breadcrumb-padding-x: 1.5rem;

@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/root';
@import '~bootstrap/scss/reboot';

@import '~bootstrap/scss/breadcrumb';
@import '~bootstrap/scss/grid';
@import '~bootstrap/scss/type';
@import '~bootstrap/scss/buttons';
@import '~bootstrap/scss/utilities/display';
@import '~bootstrap/scss/utilities/flex';
@import '~bootstrap/scss/utilities/spacing';
@import '~bootstrap/scss/utilities/text';

@import './common.scss';
@import './attributes.scss';
@import './characterSheet.scss';
@import './components.scss';
@import './dialog.scss';
@import './skills.scss';
@import './sourceselection.scss';
@import './specialChars.scss';
@import './view.scss';
@import './map.scss';